.train {
    padding: 20px;
    font-family: Serif;
}

.train .title {
    font-size: 48px;
}

.train .item {
    font-size: 24px;
}

.train .item.clickable {
    display: block;
    cursor: pointer;
}
.train .item.clickable:hover {
    background-color: lightblue;
}

.train .list {
    list-style: none;
}